.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6{
    display: inline; /* Hace que los encabezados se comporten como inline */
    margin: 15px;
    padding: 0;
}

.header {
    white-space: nowrap;
    text-align: center;
}